<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Insert title here</title>
</head>
<body>
<div class="layui-tab page-content-wrap">
    <table width="100%" cellspacing="0" cellpadding="0" border="1">
        <thead>
        <tr>
            <th>课题名称</th>
            <th>所属专业</th>
            <th>课题难度</th>
        </tr>
        <!--<tr th:each="sub:${sublist}">
            <td th:text="${sub.name}"></td>
            <td th:text="${sub.profession}"></td>
            <td th:text="${sub.degree}"></td>-->
        </tr>
        </thead>
    </table>
</div>

</body>
</html>