<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/personal_info.css">
    <link rel="stylesheet" href="/css/layui.css">

</head>
<body>
<!--style="border:2px solid red"-->
<div class="right-product view-product right-full" >
    <div class="container-fluid">
        <div class="manage account-manage info-center">
            <div class="page-header">
                <div class="pull-left">
                    <h4>用户中心</h4>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户名：</label>
                <div class="layui-input-block">
                    <input type="text" name="username" th:text="${session.admin.getName()}" disabled autocomplete="off" class="layui-input layui-disabled">
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>