<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.Admin_stu_oper.Admin_stu_operMapper">




    <!--添加一条管理员对学生的操作日志-->
    <insert id="addAdminStuOper">
        insert into admin_stu_oper(ano,tno,operate_time,operate_type)
        values (#{ano},#{tno},#{operate_time},#{operate_type})
    </insert>


    <!--根据教师工号，管理员删除日志文件-->
    <delete id="deleteAdminStuOper">
        delete from admin_stu_oper
        where ano = #{ano}
          and sno = #{sno}
    </delete>



    <!--查询指定管理员对所有学生的日志操作记录-->
    <select id="selectAdminStuOperByAno" resultType="cn.edu.nchu.grimsys.domain.AbstrAdminStuOper">
        select * from admin_stu_oper
        where ano = #{ano}
    </select>


    <!--查询指定管理员对指定学生学号的学生的日志操作记录-->
    <select id="selectAdminStuOperByGId" resultType="cn.edu.nchu.grimsys.domain.AbstrAdminStuOper">
        select * from admin_stu_oper
        where ano = #{ano}
          and sno = #{sno}
    </select>
</mapper>