<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.Admin_tea_operMapper">

    <!--
  162015班  第11组
  毕设信息管理系统-模块
  @author：
  date：2019-6-
  主要功能说明：
 -->

    <!--添加一条管理员对教师的操作日志-->
    <insert id="addAdminTeaOper">
        insert into admin_tea_oper(ano,tno,operate_time,operate_type)
        values (#{ano},#{tno},#{operate_time},#{operate_type})
    </insert>


    <!--根据教师工号，管理员删除日志文件-->
    <delete id="deleteAdminTeaOper">
        delete from admin_tea_oper
        where ano = #{ano}
        and tno = #{tno}
    </delete>



    <!--查询指定管理员对所有教师工号的教师的日志操作记录-->
    <select id="selectAdminTeaOperByAno" resultType="cn.edu.nchu.grimsys.domain.AbstrAdminTeaOper">
        select * from admin_tea_oper
        where ano = #{ano}
    </select>


    <!--查询指定管理员对指定教师工号的教师的日志操作记录-->
    <select id="selectAdminTeaOperByGId" resultType="cn.edu.nchu.grimsys.domain.AbstrAdminTeaOper">
        select * from admin_tea_oper
        where ano = #{ano}
        and tno = #{tno}
    </select>
</mapper>