<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.AdminGroupOperMapper">

    <!--
     162015班 第11组
     毕设信息管理系统-模块
     @author ：
     date：
     主要功能说明：
    -->
    <!--添加一条管理员对答辩小组的操作日志-->
    <insert id="addAdminGroupOper" parameterType="cn.edu.nchu.grimsys.domain.AbstrAdminGroupOper">
        insert into admin_group_oper(ano,group_no,operate_time,operate_type)
        values (#{adminGroupOper.ano},#{adminGroupOper.group_no},
                #{adminGroupOper.operate_time},#{adminGroupOper.operate_type})
    </insert>


    <!--根据小组号，管理员删除日志文件-->
    <delete id="deleteAdminGroupOper">
        delete from admin_group_oper
        where ano = #{ano}
        and group_no = #{group_no}
    </delete>



    <!--查询指定管理员对答辩小组的日志操作记录-->
    <select id="selectAdminGroupOperByAno" resultType="cn.edu.nchu.grimsys.domain.AbstrAdminGroupOper">
        select * from admin_group_oper
        where ano = #{ano}
    </select>


    <!--查询指定管理员对指定答辩小组的日志操作记录-->
    <select id="selectAdminGroupOperByGId" resultType="cn.edu.nchu.grimsys.domain.AbstrAdminGroupOper">
        select * from admin_group_oper
        where ano = #{ano}
          and group_no = #{group_no}
    </select>
</mapper>