<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.GradeMapper">

    <!--
         162015班 第11组
         毕设信息管理系统-模块
         @author ：
         date：
         主要功能说明：
        -->

    <!-- 添加一条成绩实体-->
    <insert id="addGradeRecord" parameterType="cn.edu.nchu.grimsys.domain.AbstrGrade">
        insert into grade(id,sno,final_grade,grade_level)
        values(#{grade.id},#{grade.sno},#{grade.final_grade},#{grade.grade_level})
    </insert>


    <!-- 修改成绩实体 -->
    <update id="updateGradeRecord">
        update grade set
        final_grade = #{grade.final_grade},
        grade_level = #{grade.grade_level}
        where id = #{grade.id}
    </update>


    <!-- 删除成绩实体 -->
    <delete id="deleteGradeRecord">
        delete from grade
        where sno = #{sno}
    </delete>


    <!-- 查询成绩实体 -->
    <select id="loadGradeByGradeId" resultType="cn.edu.nchu.grimsys.domain.AbstrGrade">
        select *
        from grade
        where id = #{id}
    </select>
</mapper>