<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.Group_stu_defenseMapper">


    <!--添加一条答辩小组-学生-答辩记录-->
    <insert id="addGroupStuDefense" parameterType="cn.edu.nchu.grimsys.domain.AbstrGroupStuDefense">
        insert into group_stu_defense(group_id,sno,res_grade)
        values (#{groupStuDefense.group_id},#{groupStuDefense.sno},
                #{groupStuDefense.res_grade})
    </insert>

    <!--修改答辩小组-学生-答辩记录-->
    <update id="updateGroupStuDefense" parameterType="cn.edu.nchu.grimsys.domain.AbstrGroupStuDefense">
        update group_stu_defense set
        res_grade = #{groupStuDefense.res_grade}
        where group_id = #{groupStuDefense.group_id}
        and sno = #{groupStuDefense.sno}
    </update>

    <!--删除一条答辩小组-学生-答辩记录-->
    <delete id="deleteGroupStuDefense">
        delete from group_stu_defense
        where sno = #{sno}
    </delete>

    <!--根据答辩小组编号查询答辩小组答辩的所有学生对象-->
    <select id="selectGroupStuDefenseByGId" resultType="cn.edu.nchu.grimsys.domain.AbstrGroupStuDefense">
        select * from group_stu_defense
        where group_id = #{group_id}
    </select>

    <!--根据学号查询学生答辩详情-->
    <select id="selectGroupStuDefenseByTno" resultType="cn.edu.nchu.grimsys.domain.AbstrGroupStuDefense">
        select * from group_stu_defense
        where sno = #{sno}
    </select>
</mapper>