<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.Stu_subject_selectMapper">

    <!--
  162015班  第11组
  毕设信息管理系统-模块
  @author：
  date：2019-6-
  主要功能说明：
 -->

    <!--学生选题后，添加一条记录到选题表-->
    <insert id="addStuSubjectSelect">
        insert into stu_subject_select(sno,cno,select_time)
        values (#{stuSubjectSelect.sno},#{stuSubjectSelect.cno},#{stuSubjectSelect.select_time})
    </insert>



    <!--删除学生选题记录-->
    <delete id="deleteStuSubjectSelect">
        delete from stu_subject_select
        where sno = #{sno}
        and cno = #{cno}
    </delete>



    <!--查询一条学生选题记录-->
    <select id="selectStuSubjectSelect" resultType="cn.edu.nchu.grimsys.domain.AbstrStuSubjectSelect">
         select * from stu_subject_select
         where sno = #{sno}
         and cno = #{cno}
    </select>
</mapper>