<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.Stu_tea_both_choiceMapper">

    <!--
  162015班  第11组
  毕设信息管理系统-模块
  @author：
  date：2019-6-
  主要功能说明：
 -->

    <!--添加一条师生双选记录-->
    <insert id="addStuTeaBothChoice">
        insert into stu_tea_both_choice(sno,tno,is_receive)
        values (#{stuTeaBothChoice.sno},#{stuTeaBothChoice.tno},0)
        <!--0代表的是学生刚选择好老师，就吧is_receive设置为待处理-->
    </insert>


    <!--修改师生双选记录-->
    <update id="updateStuTeaBothChoice" parameterType="cn.edu.nchu.grimsys.domain.AbstrStuTeaBothChoice">
        update stu_tea_both_choice set
        is_receive = #{stuTeaBothChoice.is_receive}
        where tno = #{stuTeaBothChoice.tno}
        and sno = #{stuTeaBothChoice.sno}
    </update>


    <!--删除师生双选记录-->
    <delete id="deleteStuTeaBothChoice" parameterType="cn.edu.nchu.grimsys.domain.AbstrStuTeaBothChoice">
        delete from stu_tea_both_choice
        where tno = #{stuTeaBothChoice.tno}
        and sno = #{stuTeaBothChoice.sno}
        and is_receive = #{stuTeaBothChoice.is_receive}
    </delete>


    <!--根据学生学号查询师生双选记录-->
    <select id="selectStuTeaBothChoiceBySno" resultType="cn.edu.nchu.grimsys.domain.AbstrStuTeaBothChoice">
        select *
        from stu_tea_both_choice
        where sno = #{sno}
    </select>


    <!--根据教师工号查询师生双选记录-->
    <select id="selectStuTeaBothChoiceByTno" resultType="cn.edu.nchu.grimsys.domain.AbstrStuTeaBothChoice">
        select *
        from stu_tea_both_choice
        where tno = #{tno}
    </select>
</mapper>