<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.Stu_task_submitMapper">

    <!--
  162015班  第11组
  毕设信息管理系统-模块
  @author：
  date：2019-6-
  主要功能说明：
 -->

    <!--添加一条学生-任务提交关系-->
    <insert id="addStuTaskSubmit" parameterType="cn.edu.nchu.grimsys.domain.AbstrStuTaskSubmit">
          insert into stu_task_submit(sno,task_no,status,content,grade,remark,submit_time,is_submit,is_scored)
          values (#{stuTaskSubmit.sno},#{stuTaskSubmit.task_no},#{stuTaskSubmit.status},
                  #{stuTaskSubmit.content},#{stuTaskSubmit.grade},#{stuTaskSubmit.remark},
                  #{stuTaskSubmit.submit_time},#{stuTaskSubmit.is_submit},#{stuTaskSubmit.is_scored})
    </insert>



    <!--修改一条学生-任务提交关系-->
    <update id="updateStuTaskSubmit" parameterType="cn.edu.nchu.grimsys.domain.AbstrStuTaskSubmit">
          update stu_task_submit set
          status = #{stuTaskSubmit.status},
          content = #{stuTaskSubmit.content},
          grade = #{stuTaskSubmit.grade},
          remark = #{stuTaskSubmit.remark},
          submit_time = #{stuTaskSubmit.submit_time},
          is_submit = #{stuTaskSubmit.is_submit},
          is_scored = #{stuTaskSubmit.is_scored}
          where sno = #{stuTaskSubmit.sno}
          and task_no = #{stuTaskSubmit.task_no}
    </update>


    <!--删除一条学生-任务提交关系-->
    <delete id="deleteStuTaskSubmit">
          delete from stu_task_submit
          where sno = #{sno}
          and task_no = #{task_no}
    </delete>



    <!--查询一条学生-任务提交关系-->
    <select id="selectStuTaskSubmit" resultType="cn.edu.nchu.grimsys.domain.AbstrStuTaskSubmit">
          select * from stu_task_submit
          where sno = #{sno}
          and task_no = #{task_no}
    </select>
</mapper>