<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.StudentMapper">

    <!--
     162015班 第11组
     毕设信息管理系统-模块
     @author ：
     date：
     主要功能说明：
    -->
    <!-- 根据学生学号删除学生 -->
    <insert id="insertStudent" parameterType="cn.edu.nchu.grimsys.domain.AbstrStudent">
        insert into student(id,name,gender,Birthday,Faculties,Profession,degree,Sclass,Telephone,IDcard_type,IDcard_number)
        values (#{student.id},#{student.name},#{student.gender},#{student.Birthday},
                #{student.Faculties},#{student.Profession},#{student.degree},
                #{student.Sclass},#{student.Telephone},#{student.IDcard_type},
                #{student.IDcard_number})
    </insert>

    <!-- 根据学生学号删除学生 -->
    <update id="updateStudent" parameterType="cn.edu.nchu.grimsys.domain.AbstrStudent">
        update student
        <set>
            <if test="student!=null">
                name = #{student.name},
                gender = #{student.gender},
                Birthday = #{student.Birthday},
                Faculties = #{student.Faculties},
                Profession = #{student.Profession},
                degree = #{student.degree},
                Sclass = #{student.Sclass},
                Telephone = #{student.Telephone},
                IDcard_type = #{student.IDcard_type},
                IDcard_number = #{student.IDcard_number},
            </if>
        </set>
        <where>
            id = #{student.id}
        </where>
    </update>

    <!-- 根据学生学号删除学生 -->
    <delete id="deleteStudent">
        delete from student
        where id = #{id}
    </delete>

    <!-- 根据学生学号查询学生 -->
    <select id="selectStudentById" resultType="cn.edu.nchu.grimsys.domain.impl.vision1.Student">
        select *
        from student
        where id = #{id}
    </select>
    <select id="selectAllStudent" resultType="cn.edu.nchu.grimsys.domain.impl.vision1.Student">
        select *
        from student
    </select>

</mapper>