<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.StudentMapper">

    <!-- 根据学生学号删除学生 -->
    <insert id="insertStudent">
        insert into student(id,name,gender,Birthday,Faculties,Profession,degree,Sclass,Telephone,IDcard_type,IDcard_number)
        values (#{student.id},#{student.name},#{student.gender},#{student.Birthday},
                #{student.Faculties},#{student.Profession},#{student.degree},
                #{student.Sclass},#{student.Telephone},#{student.IDcard_type},
                #{student.IDcard_number})
    </insert>

    <!-- 根据学生学号删除学生 -->
    <update id="updateStudent" parameterType="cn.edu.nchu.grimsys.domain.AbstrStudent">
        update student
        <set>
            <if test="student!=null">
                name = #{name},
                gender = #{gender},
                Birthday = #{Birthday},
                Faculties = #{Faculties},
                Profession = #{Profession},
                degree = #{degree},
                Sclass = #{Sclass},
                Telephone = #{Telephone},
                IDcard_type = #{IDcard_type},
                IDcard_number = #{IDcard_number},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 根据学生学号删除学生 -->
    <delete id="deleteStudent">
        delete from student
        where id = #{id}
    </delete>

    <!-- 根据学生学号查询学生 -->
    <select id="selectStudentById" resultType="java.lang.Boolean">
        select *
        from student
        where id = #{id}
    </select>



    <!-- 修改教师 -->
    <update id="updateTeacher" parameterType="cn.edu.nchu.grimsys.domain.AbstrTeacher">
        update teacher
        <set>
            <if test="teacher!=null">
                teacher.name = #{teacher.name},
                teacher.gender = #{teacher.gender},
                teacher.Birthday = #{teacher.Birthday},
                teacher.Faculties = #{teacher.Faculties},
                teacher.employ_time = #{teacher.employ_time},
                teacher.Profession_title = #{teacher.Profession_title},
                teacher.Telephone = #{teacher.Telephone},
                teacher.IDcard_type = #{teacher.IDcard_type},
                teacher.IDcard_number = #{teacher.IDcard_number},
                teacher.Profession = #{teacher.Profession},
                teacher.Sclass = #{teacher.Sclass}
            </if>
        </set>
        <where>
            teacher.id = #{teacher.id}
        </where>
    </update>

    <!-- 根据教师工号删除教师 -->
    <delete id="deleteTeacher">
        delete from teacher
        where id = #{teacherID}
    </delete>


    <select id="selectTeacherById" parameterType="java.lang.String" resultType="cn.edu.nchu.grimsys.domain.AbstrTeacher">
        select *
        from teacher
        where id = #{id}
    </select>
</mapper>