<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.SubjectMapper">

    <!--
     162015班 第11组
     毕设信息管理系统-模块
     @author ：
     date：
     主要功能说明：
    -->
    <!--添加课题-->
    <insert id="addSubject" parameterType="cn.edu.nchu.grimsys.domain.AbstrSubject">
      insert into subject(id,name,profession,degree,content,file_number,status,advice)
      values(#{subject.id},#{subject.name},#{subject.Profession},
             #{subject.degree},#{subject.content},#{subject.file_number},
             #{subject.status},#{subject.advice})
    </insert>


    <!--修改课题-->
    <update id="updateSubject">
        update subject
        <set>
            <if test="subject != null">
                name = #{subject.name},
                Profession = #{subject.Profession},
                degree = #{subject.degree},
                content = #{subject.content},
                file_number = #{subject.file_number},
                status = #{subject.status},
                advice = #{subject.advice},
            </if>
        </set>
        <where>
            id = #{subject.id}
        </where>
    </update>


    <!--根据课题ID删除课题-->
    <delete id="deleteSubject">
      delete from subject
        where id = #{id}
    </delete>


    <!--根据课题ID查询课题-->
    <select id="loadSubjectBySubject" resultType="cn.edu.nchu.grimsys.domain.AbstrSubject">
        select *
        from subject
        where id = #{id}
    </select>

    <select id="selectSubjectBySno" resultType="cn.edu.nchu.grimsys.domain.AbstrSubject">
        select *
        from subject
        where id in
              (
                select cno
                from stu_subject_select
                where sno=#{studentId}
                      );
    </select>
    <select id="loadSubjectByTno" resultType="cn.edu.nchu.grimsys.domain.impl.vision1.SubjectImpl">
        select *
        from subject
        where id in (
                select cno
                from tea_task_create
                where tno=#{teacherId}
                )
    </select>
    <select id="loadSubmittedSubjectByTno" resultType="cn.edu.nchu.grimsys.domain.impl.vision1.SubjectImpl">
        select *
        from subject
        where id in (
                    select cno
                    from tea_subject_declare
                    where tno=#{teacherId}
                    )
    </select>


</mapper>