<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.TaskMapper">

    <!--
  162015班  第11组
  毕设信息管理系统-模块
  @author：
  date：2019-6-
  主要功能说明：
 -->

    <!--增减任务-->
    <insert id="addTask" parameterType="cn.edu.nchu.grimsys.domain.AbstrTask">
        insert into task(task_no,task_name,task_content)
        values (#{task.task_no},#{task.task_name},#{task.task_content})
    </insert>

    <!--修改任务-->
    <update id="updateTaskContent" parameterType="cn.edu.nchu.grimsys.domain.AbstrTask">
        update task set
        task_name = #{task.task_name},
        task_content = #{task.task_content}
        where task_no = #{task.task_no}
    </update>

    <!--删除任务-->
    <delete id="deleteTask">
      delete from task
      where id = #{task_no}
    </delete>

    <!--根据任务号查询任务-->
    <select id="loadTaskByTaskId" resultType="cn.edu.nchu.grimsys.domain.AbstrTask">
        select *
        from task
        where task_no = #{task_no}
    </select>
</mapper>