<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.Tea_task_createMapper">


    <!--添加一条教师-任务关联-->
    <insert id="addTeaTaskCreate" parameterType="cn.edu.nchu.grimsys.domain.AbstrTeaTaskCreate">
        insert into tea_task_create(tno,task_no,create_time,start_time,end_time)
        values (#{teaTaskCreate.tno},#{teaTaskCreate.task_no},#{teaTaskCreate.create_time},
                #{teaTaskCreate.start_time},#{teaTaskCreate.end_time})
    </insert>


    <!--修改任务截止时间-->
    <update id="updateTeaTaskCreate">
        update tea_task_create set
        end_time  = #{teaTaskCreate.end_time}
        where  tno = #{teaTaskCreate.tno}
        and task_no = #{teaTaskCreate.task_no}
    </update>


    <!--删除一条教师-任务关联-->
    <delete id="deleteTeaTaskCreate">
        delete from tea_task_create
        where tno = #{tno}
        and task_no = #{task_no}
    </delete>



    <!--查询一条教师-任务关联-->
    <select id="selectTeaTaskCreate" resultType="cn.edu.nchu.grimsys.domain.AbstrTeaTaskCreate">
        select *
        from tea_task_create
        where  tno = #{tno}
        and task_no = #{task_no}
    </select>
</mapper>