<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nchu.grimsys.dao.datasource.TeacherMapper">

    <!--
     162015班 第11组
     毕设信息管理系统-模块
     @author ：
     date：
     主要功能说明：
    -->

    <!-- 添加教师-->
    <insert id="insertTeacher" parameterType="cn.edu.nchu.grimsys.domain.impl.vision1.Teacher">
        insert into teacher(id,name,gender,Birthday,Faculties,Profession,employ_time,Pofession_title,Telephone,IDcard_type,IDcard_number,password)
        values (#{teacher.id},#{teacher.name},#{teacher.gender},#{teacher.Birthday},
                #{teacher.Faculties},#{teacher.Profession},#{teacher.employ_time},
                #{teacher.Profession_title},#{teacher.Telephone},
                #{teacher.IDcard_type},#{teacher.IDcard_number},#{teacher.password})
    </insert>


    <!-- 修改教师 -->
    <update id="updateTeacher" parameterType="cn.edu.nchu.grimsys.domain.impl.vision1.Teacher">
        update teacher
        <set>
                name = #{teacher.name},
                gender = #{teacher.gender},
                Birthday = #{teacher.Birthday},
                Faculties = #{teacher.Faculties},
                employ_time = #{teacher.employ_time},
                Pofession_title = #{teacher.profession_title},
                Telephone = #{teacher.Telephone},
                IDcard_type = #{teacher.IDcard_type},
                IDcard_number = #{teacher.IDcard_number},
                Profession = #{teacher.Profession},
                password = #{teacher.password}

        </set>
        <where>
            teacher.id = #{teacher.id}
        </where>
    </update>

    <!-- 根据教师工号删除教师 -->
    <delete id="deleteTeacher" parameterType="java.lang.String">
      delete from teacher
      where id = #{id}
    </delete>

    <!-- 根据教师工号查询教师 -->
    <select id="selectTeacherById" parameterType="java.lang.String" resultType="cn.edu.nchu.grimsys.domain.impl.vision1.Teacher">
        select *
        from teacher
        where id = #{id}
    </select>
    <select id="selectAllTeacher" resultType="cn.edu.nchu.grimsys.domain.impl.vision1.Teacher">
        select *
        from  teacher

    </select>


</mapper>